[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	git config --global user.name "Team Kimchi Ravioli TB05 Miguel Pacheco"
	git config --global user.email "S10247805@connect.np.edu.sg"
[core]
	editor = \"C:\\Users\\psych\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
